NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FIREBASE_ENABLED=true
NEXT_PUBLIC_FIREBASE_ENABLED=true
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCtEyLjHyiql7phrVwLJOML-ADxjfAWK7A
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mypal-b2645.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mypal-b2645
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mypal-b2645.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=78341889947
NEXT_PUBLIC_FIREBASE_APP_ID=1:78341889947:web:08cab14c4a284791cd8b3e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VSW7BGC2MP
